/*****************************************************************************/
/*                          Styling for device-mocks                         */
/*****************************************************************************/

html, body {
    height: 100%;
}

body {
    padding: 40px;
    margin: 0;
}

.device {
    text-align: center;
}

.device.focus {
    width: 100%;
    margin-bottom: 500px;
}
.device.focus hr {
    display: none;
}

.mock {
    display: inline-block;
    background: #e1e1e1;
    border: 1px solid navy;
    vertical-align: middle;
    /* transition: transform 300ms ease-in-out; */
    transform-origin: center top;
}

/* .mock:hover { */
/*     transform: scale(2); */
/* } */

.mock + .mock {
    margin-left: 40px;
}


.mock-image-portrait {
    background-image: url("../images/feature.jpg");
    background-size: cover;
}


.controls {
    text-align: center;
    margin-bottom: 50px;
}

.device.focus-mode {
    display: none;
}

.device.focus-mode.focus {
    display: block;
}
